.uncompleted {
    background-color: #e64944;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    cursor: pointer;
  }

  .completed {
    background-color: #d17d7c;
    width: 46%;
    text-decoration: line-through;
  }